interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://jackett.shen.iorlas.net/api/v2.0/indexers/all/results/torznab/api?apikey=qhnkxi5sba1anon5smsx5qur88j7hhr1&cat=5000&ep=1&q=breaking+bad&season=1&t=tvsearch
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:torznab=\"http://torznab.com/schemas/2015/feed\">\n  <channel>\n    <atom:link
        href=\"https://jackett.shen.iorlas.net/\" rel=\"self\" type=\"application/rss+xml\"
        />\n    <title>AggregateSearch</title>\n    <description>This feed includes
        all configured trackers</description>\n    <link>http://127.0.0.1/</link>\n
        \   <language>en-US</language>\n    <category>search</category>\n    <item>\n
        \     <title>\u0412\u043E \u0432\u0441\u0435 \u0442\u044F\u0436\u043A\u0438\u0435
        / Breaking Bad / S5E1-16 (16) (\u0412\u0438\u043D\u0441 \u0413\u0438\u043B\u043B\u0438\u0433\u0430\u043D,
        \u0410\u0434\u0430\u043C \u0411\u0435\u0440\u043D\u0441\u0442\u0430\u0439\u043D)
        [2012-2013, \u0421\u0428\u0410, \u0434\u0440\u0430\u043C\u0430, \u043A\u0440\u0438\u043C\u0438\u043D\u0430\u043B,
        BDRip 1080p] Dub (Selena International) + MVO (FoxCrime / Amedia) + DVO (LostFilm,
        \u041A\u0443\u0431\u0438\u043A \u0432 \u041A\u0443\u0431\u0435) + AVO (\u042E.
        \u0421\u0435\u0440\u0431\u0438\u043D, \u0414\u043C\u0438\u0442\u0440\u0438\u0439
        \xABGoblin\xBB \u041F\u0443\u0447\u043A\u043E\u0432) + Original (Eng) + Sub
        (Rus, Eng)</title>\n      <guid>https://rutracker.org/forum/viewtopic.php?t=6384818</guid>\n
        \     <jackettindexer id=\"rutracker\">RuTracker.org</jackettindexer>\n      <type>semi-private</type>\n
        \     <comments>https://rutracker.org/forum/viewtopic.php?t=6384818</comments>\n
        \     <pubDate>Mon, 10 Jul 2023 20:59:57 +0000</pubDate>\n      <size>112330506240</size>\n
        \     <grabs>30968</grabs>\n      <description>Uploader: \n\t\t\tSOFCJ\n\t\t&lt;br&gt;\u0412\u043E
        \u0432\u0441\u0435 \u0442\u044F\u0436\u043A\u0438\u0435 / Breaking Bad / \u0421\u0435\u0437\u043E\u043D:
        5 / \u0421\u0435\u0440\u0438\u0438: 1-16 (16) (\u0412\u0438\u043D\u0441 \u0413\u0438\u043B\u043B\u0438\u0433\u0430\u043D,
        \u0410\u0434\u0430\u043C \u0411\u0435\u0440\u043D\u0441\u0442\u0430\u0439\u043D)
        [2012-2013, \u0421\u0428\u0410, \u0434\u0440\u0430\u043C\u0430, \u043A\u04[...]
