interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://jackett.shen.iorlas.net/api/v2.0/indexers/all/results/torznab/api?apikey=qhnkxi5sba1anon5smsx5qur88j7hhr1&q=ubuntu&t=search
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:torznab=\"http://torznab.com/schemas/2015/feed\">\n  <channel>\n    <atom:link
        href=\"https://jackett.shen.iorlas.net/\" rel=\"self\" type=\"application/rss+xml\"
        />\n    <title>AggregateSearch</title>\n    <description>This feed includes
        all configured trackers</description>\n    <link>http://127.0.0.1/</link>\n
        \   <language>en-US</language>\n    <category>search</category>\n    <item>\n
        \     <title>[\u0421\u043F\u0435\u0446\u0438\u0430\u043B\u0438\u0441\u0442,
        \u0412\u044F\u0447\u0435\u0441\u043B\u0430\u0432 \u041B\u043E\u0445\u0442\u0443\u0440\u043E\u0432]
        Linux. \u0423\u0440\u043E\u0432\u0435\u043D\u044C 1. \u041E\u0441\u043D\u043E\u0432\u044B
        \u0430\u0434\u043C\u0438\u043D\u0438\u0441\u0442\u0440\u0438\u0440\u043E\u0432\u0430\u043D\u0438\u044F
        \u0441\u0438\u0441\u0442\u0435\u043C Debian, Ubuntu, CentOS [2018, RUS]</title>\n
        \     <guid>https://rutracker.org/forum/viewtopic.php?t=6711456</guid>\n      <jackettindexer
        id=\"rutracker\">RuTracker.org</jackettindexer>\n      <type>semi-private</type>\n
        \     <comments>https://rutracker.org/forum/viewtopic.php?t=6711456</comments>\n
        \     <pubDate>Wed, 25 Jun 2025 17:48:35 +0000</pubDate>\n      <size>4293688576</size>\n
        \     <grabs>834</grabs>\n      <description>Uploader: \n\t\t\tLearnJavaScript
        Beggom\n\t\t&lt;br&gt;[\u0421\u043F\u0435\u0446\u0438\u0430\u043B\u0438\u0441\u0442,
        \u0412\u044F\u0447\u0435\u0441\u043B\u0430\u0432 \u041B\u043E\u0445\u0442\u0443\u0440\u043E\u0432]
        Linux. \u0423\u0440\u043E\u0432\u0435\u043D\u044C 1. \u041E\u0441\u043D\u043E\u0432\u044B
        \u0430\u0434\u043C\u0438\u043D\u0438\u0441\u0442\u0440\u0438\u0440\u043E\u0432\u0430\u043D\u0438\u044F
        \u0441\u0438\u044[...]
