interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://jackett.shen.iorlas.net/api/v2.0/indexers/all/results/torznab/api?apikey=qhnkxi5sba1anon5smsx5qur88j7hhr1&cat=2000&q=matrix&t=movie&year=1999
  response:
    body:
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<rss version=\"2.0\" xmlns:atom=\"http://www.w3.org/2005/Atom\"
        xmlns:torznab=\"http://torznab.com/schemas/2015/feed\">\n  <channel>\n    <atom:link
        href=\"https://jackett.shen.iorlas.net/\" rel=\"self\" type=\"application/rss+xml\"
        />\n    <title>AggregateSearch</title>\n    <description>This feed includes
        all configured trackers</description>\n    <link>http://127.0.0.1/</link>\n
        \   <language>en-US</language>\n    <category>search</category>\n    <item>\n
        \     <title>\u041C\u0430\u0442\u0440\u0438\u0446\u0430 / The Matrix [1999,
        \u0421\u0428\u0410, \u0444\u0430\u043D\u0442\u0430\u0441\u0442\u0438\u043A\u0430,
        \u0431\u043E\u0435\u0432\u0438\u043A, UHD BR-DISK 2160p] [EUR] Dub + Sub Rus,
        Eng + Original Eng</title>\n      <guid>https://rutracker.org/forum/viewtopic.php?t=5565703</guid>\n
        \     <jackettindexer id=\"rutracker\">RuTracker.org</jackettindexer>\n      <type>semi-private</type>\n
        \     <comments>https://rutracker.org/forum/viewtopic.php?t=5565703</comments>\n
        \     <pubDate>Wed, 23 May 2018 21:00:34 +0000</pubDate>\n      <size>69376589824</size>\n
        \     <grabs>45214</grabs>\n      <description>Uploader: \n\t\t\tArchy_\n\t\t&lt;br&gt;\u041C\u0430\u0442\u0440\u0438\u0446\u0430
        / The Matrix (\u042D\u043D\u0434\u0438 \u0412\u0430\u0447\u043E\u0432\u0441\u043A\u0438,
        \u041B\u0430\u0440\u0440\u0438 \u0412\u0430\u0447\u043E\u0432\u0441\u043A\u0438
        / Andy Wachowski, Larry Wachowski) [1999, \u0421\u0428\u0410, \u0444\u0430\u043D\u0442\u0430\u0441\u0442\u0438\u043A\u0430,
        \u0431\u043E\u0435\u0432\u0438\u043A, UHD Blu-ray disc 216[...]
