interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/find/tt0133093?external_source=imdb_id
  response:
    body:
      string: '{"movie_results":[{"adult":false,"backdrop_path":"/tlm8UkiQsitc8rSuIAscQDCnP8d.jpg","id":603,"title":"The
        Matrix","original_title":"The Matrix","overview":"Set in the 22nd century,
        The Matrix tells the story of a computer hacker who joins a group of underground
        insurgents fighting the vast and powerful computers who now rule the earth.","poster_path":"/p96dm7sCMn4VYAStA6siNz30G1r.jpg","media_type":"movie","original_language":"en","genre_ids":[28,878],"popularity":22.9277,"release_date":"1999-03-31","video":false,"vote_average":8.237,"vote_count":27283}],"person_results":[],"tv_results":[],"tv_episode_results":[],"tv_season_results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"76ed5debc8dfb5e75f6412844e6f47c4"
      x-az:
      - us-east-1c
      x-memc:
      - HIT
      x-memc-age:
      - '11896'
      x-memc-expires:
      - '16219'
      x-memc-key:
      - 4a272bdb510f147b8942e194af96da4070d1ca6313cb1d19baf4e8b3e8b58451
      x-task-id:
      - babd203e8cac426ab7c69f65f0f4b85e
    status:
      code: 200
      message: OK
version: 1
