interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/movie/603/similar_movies
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/sHJmDOvewSELRmTUbYovR5nSFiJ.jpg\",\"genre_ids\":[18,878,10402,14],\"id\":671109,\"original_language\":\"rw\",\"original_title\":\"Neptune
        Frost\",\"overview\":\"In the hilltops of Burundi, a group of escaped coltan
        miners form an anti-colonialist computer hacker collective. From their camp
        in an otherworldly e-waste dump, they attempt a takeover of the authoritarian
        regime exploiting the region's natural resources \u2013 and its people. When
        an intersex runaway and an escaped coltan miner find each other through cosmic
        forces, their connection sparks glitches within the greater divine circuitry.\",\"popularity\":0.6826,\"poster_path\":\"/emlTdAiMcJDomw6Tjz2lFCSen8W.jpg\",\"release_date\":\"2022-06-03\",\"title\":\"Neptune
        Frost\",\"video\":false,\"vote_average\":5.806,\"vote_count\":31},{\"adult\":false,\"backdrop_path\":\"/qFI716p7GH8f11tcBfabKmt115k.jpg\",\"genre_ids\":[28,18,35],\"id\":22024,\"original_language\":\"ja\",\"original_title\":\"\u30A2\u30AD\u30CF\u30D0\u30E9@DEEP\",\"overview\":\"Set
        in Tokyo's otaku mecca Akihabara, \\\"Akihabara@DEEP\\\" tells the story of
        five otaku who drop out of society and end up founding their own successful
        IT venture called Crook. But Nakagomi, president of an influential electronics
        company called D[...]
