interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/find/tt0903747?external_source=imdb_id
  response:
    body:
      string: '{"movie_results":[],"person_results":[],"tv_results":[{"adult":false,"backdrop_path":"/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg","id":1396,"name":"Breaking
        Bad","original_name":"Breaking Bad","overview":"Walter White, a New Mexico
        chemistry teacher, is diagnosed with Stage III cancer and given a prognosis
        of only two years left to live. He becomes filled with a sense of fearlessness
        and an unrelenting desire to secure his family''s financial future at any
        cost as he enters the dangerous world of drugs and crime.","poster_path":"/ztkUQFLlC19CCMYHW9o1zWhJRNq.jpg","media_type":"tv","original_language":"en","genre_ids":[18,80],"popularity":108.2612,"first_air_date":"2008-01-20","vote_average":8.936,"vote_count":16965,"origin_country":["US"]}],"tv_episode_results":[],"tv_season_results":[]}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"3b59704ccdf4f9d524f20bc353987c34"
      x-az:
      - us-east-1a
      x-memc:
      - HIT
      x-memc-age:
      - '18327'
      x-memc-expires:
      - '8734'
      x-memc-key:
      - 16874528c37042f23d06a0a5f036fb36c4f9ff8458ec50c8540aef38eaebc2dd
      x-task-id:
      - 771588e5b0c0472b80e052eac04202e3
    status:
      code: 200
      message: OK
version: 1
