interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/discover/movie?page=1&with_genres=28
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/3F2EXWF1thX0BdrVaKvnm6mAhqh.jpg\",\"genre_ids\":[28,53,80],\"id\":1306368,\"original_language\":\"en\",\"original_title\":\"The
        Rip\",\"overview\":\"Trust frays when a team of Miami cops discovers millions
        in cash inside a run-down stash house, calling everyone \u2014 and everything
        \u2014 into question.\",\"popularity\":346.4826,\"poster_path\":\"/p4bW2sJKAwcHuLpfoZK7Zo63osA.jpg\",\"release_date\":\"2026-01-13\",\"title\":\"The
        Rip\",\"video\":false,\"vote_average\":7.039,\"vote_count\":851},{\"adult\":false,\"backdrop_path\":\"/AecGG1XVCmkk7fT10ko3FC0dLIP.jpg\",\"genre_ids\":[28,14,53],\"id\":1043197,\"original_language\":\"en\",\"original_title\":\"Dust
        Bunny\",\"overview\":\"Ten-year-old Aurora asks her hitman neighbor to kill
        the monster under her bed that she claims ate her family. To protect her,
        he must battle an onslaught of assassins while accepting that some monsters
        are real.\",\"popularity\":288.1896,\"poster_path\":\"/vobigFZFvbYPf6E[...]
