interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/movie/603/recommendations
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/hgWDZ0UlGEf8LvrAkKt6VqAH0bu.jpg\",\"id\":604,\"title\":\"The
        Matrix Reloaded\",\"original_title\":\"The Matrix Reloaded\",\"overview\":\"The
        Resistance builds in numbers as humans are freed from the Matrix and brought
        to the city of Zion. Neo discovers his superpowers, including the ability
        to see the code inside the Matrix. With machine sentinels digging to Zion
        in 72 hours, Neo, Morpheus and Trinity must find the Keymaker to ultimately
        reach the Source.\",\"poster_path\":\"/aA5qHS0FbSXO8PxcxUIHbDrJyuh.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\",\"genre_ids\":[12,28,53,878],\"popularity\":10.3376,\"release_date\":\"2003-05-15\",\"video\":false,\"vote_average\":7.069,\"vote_count\":11665},{\"adult\":false,\"backdrop_path\":\"/kJYPag1YrA4PsXIftFdq3QEaanV.jpg\",\"id\":605,\"title\":\"The
        Matrix Revolutions\",\"original_title\":\"The Matrix Revolutions\",\"overview\":\"The
        human city of Zion defends itself against the massive invasion of the machines
        as Neo fights to end the war at another front while also opposing the rogue
        Agent Smith.\",\"poster_path\":\"/bkkS61w94ZVMNVd8KEyyJl2tnY5.jpg\",\"media_type\":\"movie\",\"original_language\":\"en\"[...]
