interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/discover/movie?page=1&with_genres=28
  response:
    body:
      string: "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/e4OnHU8HNAhdS6C4Ypk6NA26kPQ.jpg\",\"genre_ids\":[28,35,80],\"id\":1168190,\"original_language\":\"en\",\"original_title\":\"The
        Wrecking Crew\",\"overview\":\"Estranged half-brothers Jonny and James reunite
        after their father's mysterious death. As they search for the truth, buried
        secrets reveal a conspiracy threatening to tear their family apart.\",\"popularity\":820.4968,\"poster_path\":\"/gbVwHl4YPSq6BcC92TQpe7qUTh6.jpg\",\"release_date\":\"2026-01-28\",\"title\":\"The
        Wrecking Crew\",\"video\":false,\"vote_average\":6.5,\"vote_count\":244},{\"adult\":false,\"backdrop_path\":\"/4BtL2vvEufDXDP4u6xQjjQ1Y2aT.jpg\",\"genre_ids\":[28,80,18,53],\"id\":1419406,\"original_language\":\"zh\",\"original_title\":\"\u6355\u98CE\u8FFD\u5F71\",\"overview\":\"Macau
        Police brings the tracking expert police officer out of retirement to help
        catch a dangerous group of professional thieves.\",\"popularity\":405.1294,\"poster_path\":\"/e0RU6KpdnrqFxDKlI3NOqN8nHL6.jpg\",\"release_date\":\"2025-08-16\",\"title\":\"The
        Shadow'[...]
