interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.themoviedb.org/3/search/movie?query=The+Matrix&year=1999
  response:
    body:
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/tlm8UkiQsitc8rSuIAscQDCnP8d.jpg","genre_ids":[28,878],"id":603,"original_language":"en","original_title":"The
        Matrix","overview":"Set in the 22nd century, The Matrix tells the story of
        a computer hacker who joins a group of underground insurgents fighting the
        vast and powerful computers who now rule the earth.","popularity":20.396,"poster_path":"/p96dm7sCMn4VYAStA6siNz30G1r.jpg","release_date":"1999-03-31","title":"The
        Matrix","video":false,"vote_average":8.237,"vote_count":27316},{"adult":false,"backdrop_path":"/4FuxMYW1E1LHqSkWov2YwaziID3.jpg","genre_ids":[99],"id":684431,"original_language":"en","original_title":"Making
        ''The Matrix''","overview":"A promotional making-of documentary for the film
        Matrix, The (1999) that devotes its time to explaining the digital and practical
        effects contained in the film. This is very interesting, seeing as how they''re
        giving away the cinematic secrets that they created solely for the this movie,
        that have now been spoofed and referenced in countless other films.","popularity":0.2667,"poster_path":"/m2yIfRJYwpCgHON1Ig1pNKMWTxp.jpg","release_date":"1999-09-21","title":"Making
        ''The Matrix''","video":false,"vote_average":7.292,"vote_count":48},{"adult":false,"backdrop_path":null,"genre_ids":[99],"id":684428,"original_language":"en","original_title":"The
        Matrix: What Is Bullet-Time?","overview":"Special Effects wizard John Gaeta
        demonstrates how the \"Bullet-Time\" effects were created for the film Matrix,
        The (1999).","popularity":0.0872,"poster_path":"/hSTervHaROcTd8Ir3DPfepN80dL.jpg","release_date":"1999-09-21","title":"The
        Matrix: What Is Bullet-Time?","video":false,"vote_average":5.3,"vote_count":10}],"total_pages":1,"total_results":3}'
    headers:
      Content-Type:
      - application/json;charset=utf-8
      ETag:
      - W/"5e384462907d0650573a6c1d9a10ac57"
      x-az:
      - us-east-1b
      x-memc:
      - HIT
      x-memc-age:
      - '17026'
      x-memc-expires:
      - '5343'
      x-memc-key:
      - b2a4faa30f89d45fcaf6305d8a8c98baa0b65d71f230d04d7159709d6038f1bf
      x-task-id:
      - 0cc5581c2db743b59b2ee15374990e34
    status:
      code: 200
      message: OK
version: 1
