interactions:
- request:
    body: '{"method":"session-get","arguments":{"fields":["rpc-version","rpc-version-semver","version"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://torrents.segaa.keenetic.link/transmission/rpc
  response:
    body:
      string: '{"arguments":{"rpc-version":16,"version":"3.00 (ab47000043)"},"result":"success"}

        '
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    status:
      code: 200
      message: OK
- request:
    body: '{"method":"torrent-get","arguments":{"fields":["activityDate","addedDate","bandwidthPriority","comment","corruptEver","creator","dateCreated","desiredAvailable","doneDate","downloadDir","downloadedEver","downloadLimit","downloadLimited","editDate","error","errorString","eta","etaIdle","files","fileStats","hashString","haveUnchecked","haveValid","honorsSessionLimits","id","isFinished","isPrivate","isStalled","labels","leftUntilDone","magnetLink","manualAnnounceTime","maxConnectedPeers","metadataPercentComplete","name","peer-limit","peers","peersConnected","peersFrom","peersGettingFromUs","peersSendingToUs","percentDone","pieces","pieceCount","pieceSize","priorities","queuePosition","rateDownload","rateUpload","recheckProgress","secondsDownloading","secondsSeeding","seedIdleLimit","seedIdleMode","seedRatioLimit","seedRatioMode","sizeWhenDone","startDate","status","trackers","trackerStats","totalSize","torrentFile","uploadedEver","uploadLimit","uploadLimited","uploadRatio","wanted","webseeds","webseedsSendingToUs"]}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://torrents.segaa.keenetic.link/transmission/rpc
  response:
    body:
      string: '{"arguments":{"torrents":[{"activityDate":1755986069,"addedDate":1754833835,"bandwidthPriority":0,"comment":"https://rutracker.org/forum/viewtopic.php?t=6717526","corruptEver":0,"creator":"uTorrent/2210","dateCreated":1752138006,"desiredAvailable":0,"doneDate":1754834443,"downloadDir":"/tmp/mnt/798F-E1DA/media/torrents/download","downloadLimit":20000,"downloadLimited":false,"downloadedEver":1566143427,"editDate":0,"error":0,"errorString":"","eta":-1,"etaIdle":-1,"fileStats":[{"bytesCompleted":1562624000,"priority":0,"wanted":true},{"bytesCompleted":685,"priority":0,"wanted":true}],"files":[{"bytesCompleted":1562624000,"length":1562624000,"name":"\u0414\u043e\u0436\u0438\u0442\u044c
        \u0434\u043e \u0440\u0430\u0441\u0441\u0432\u0435\u0442\u0430.2025.WEB-DLRip.MovieDalen/Until.Dawn.Rus.by.\u0421\u0438\u0431\u0438\u0440\u044f\u043a.avi"},{"bytesCompleted":685,"length":685,"name":"\u0414\u043e\u0436\u0438\u0442\u044c
        \u0434\u043e \u0440\u0430\u0441\u0441\u0432\u0435\u0442\u0430.2025.WEB-DLRip.MovieDalen/Until.Dawn.Rus.by.\u0421\u0438\u0431\u0438\u0440\u044f\u043a.srt"}],"hashString":"f6b9b44b0c2ba609bcf2c3c87069614b8ca358c6","haveUnchecked":0,"haveValid":1562624685,"honorsSessionLimits":true,"id":1,"isFinished":false,"isPrivate":false,"isStalled":false,"labels":[],"leftUntilDone":0,"magnetLink":"magnet:?xt=urn:btih:f6b9b44b0c2ba609bcf2c3c87069614b8ca358c6&dn=%D0%94%D0%BE%D0%B6%D0%B8%D1%82%D1%8C%20%D0%B4%D0%BE%20%D1%80%D0%B0%D1%81%D1%81%D0%B2%D0%B5%D1%82%D0%B0.2025.WEB-DLRip.MovieDalen&tr=http%3A%2F%2Fbt3.t-ru.org%2Fann%3Fpk%3D294572eae92b12f0d647783a29f27d85&tr=http%3A%2F%2Fretracker.local%2Fannounce","manualAnnounceTime":-1,"maxConnectedPeers":50,"metadataPercentComplete":1,"name":"\u0414\u043e\u0436\u0438\u0442\u044c
        \u0434\u043e \u0440\u0430\u0441\u0441\u0432\u0435\u0442\u0430.2025.WEB-DLRip.MovieDalen","peer-limit":50,"peers":[],"peersConnected":0,"peersFrom":{"fromCache":0,"fromDht":0,"fromIncoming":0,"fromLpd":0,"fromLtep":0,"fromPex":0,"fromTracker":0},"peersGettingFromUs":0,"peersSendingToUs":0,"percentDone":1,"pieceCount":746,"pieceSize":2097152,"pieces":"////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////wA==","priorities":[0,0],"queuePosition":0,"rateDownload":0,"rateUpload":0,"recheckProgress":0,"secondsDownloading":679,"secondsSeeding":766599,"seedIdleLimit":30,"seedIdleMode":0,"seedRatioLimit":1.5000,"seedRatioMode":0,"sizeWhenDone":1562624685,"startDate":0,"status":0,"torrentFile":"/tmp/mnt/798F-E1DA/media/torrents/torrents/f6b9b44b0c2ba609bcf2c3c87069614b8ca358c6.torrent","totalSize":1562624685,"trackerStats":[{"announce":"http://bt3.t-ru.org/ann?pk=294572eae92b12f0d647783a29f27d85","announceState":0,"downloadCount":-1,"hasAnnounced":false,"hasScraped":false,"host":"http://bt3.t-ru.org:80","id":0,"isBackup":false,"lastAnnouncePeerCount":0,"lastAnnounceResult":"","lastAnnounceStartTime":0,"lastAnnounceSucceeded":false,"lastAnnounceTime":0,"lastAnnounceTimedOut":false,"lastScrapeResult":"","lastScrapeStartTime":0,"lastScrapeSucceeded":false,"lastScrapeTime":0,"lastScrapeTimedOut":false,"leecherCount":-1,"nextAnnounceTime":0,"nextScrapeTime":0,"scrape":"","scrapeState":2,"seederCount":-1,"tier":0},{"announce":"http://retracker.local/announce","announceState":0,"downloadCount":-1,"hasAnnounced":false,"hasScraped":true,"host":"http://retracker.local:80","id":1,"isBackup":false,"lastAnnouncePeerCount":0,"lastAnnounceResult":"","lastAnnounceStartTime":0,"lastAnnounceSucceeded":false,"lastAnnounceTime":0,"lastAnnounceTimedOut":false,"lastScrapeResult":"Could
        not connect to tracker","lastScrapeStartTime":0,"lastScrapeSucceeded":false,"lastScrapeTime":1770102350,"lastScrapeTimedOut":false,"leecherCount":-1,"nextAnnounceTime":0,"nextScrapeTime":1770109600,"scrape":"http://retracker.local/scrape","scrapeState":1,"seederCount":-1,"tier":1}],"trackers":[{"announce":"http://bt3.t-ru.org/ann?pk=294572eae92b12f0d647783a29f27d85","id":0,"scrape":"","tier":0},{"announce":"http://retracker.local/announce","id":1,"scrape":"http://retracker.local/scrape","tier":1}],"uploadLimit":20000,"uploadLimited":false,"uploadRatio":0.4057,"uploadedEver":635539146,"wanted":[1,1],"webseeds":[],"webseedsSendingToUs":0},{"activityDate":1769888609,"addedDate":1769888373,"bandwidthPriority":0,"comment":"LostFilm.TV(c)","corruptEver":0,"creator":"uTorrent/3310","dateCreated":1767044446,"desiredAvailable":0,"doneDate":1769888610,"downloadDir":"/tmp/mnt/798F-E1DA/media/torrents/download","downloadLimit":20000,"downloadLimited":false,"downloadedEver":756218659,"editDate":0,"error":0,"errorString":"","eta":-1,"etaIdle":-1,"fileStats":[{"bytesCompleted":756218659,"priority":0,"wanted":true}],"files":[{"bytesComplete[...]
